extends layout

block content
  section(class='title-section')
    h1= title
    p Monitor sandbox uses GitLab public API to fetch repositories and issues. Click on the issues link to view issues for repositories.
    if jaegerUrl
      p Jaeger tracers can be viewed here #[a(href=jaegerUrl)= jaegerUrl]

  table
    thead
      tr
        th Id
        th Name
        th Description
        th Web URL
        th Stars Count
        th Forks Count
        th Actions
    tbody
      each project in projects
        tr
          td= project.id
          td= project.name
          td= project.description
          td
            a(href=project.web_url, target='_blank')= project.web_url
          td= project.star_count
          td= project.forks_count
          td
            a(href='/issues/' + project.id) Issues
