extends layout

block content
  h1= title
  a(href="/") Go to Home
  
  table
    thead
      each key in Object.keys(issues[0])
        th= key
    tbody
      each user in issues
        tr
          each item in Object.values(user)
            td= item
