html,
body {
  padding: 0 50px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: #333333;
  background-color: #f9f9f9;
}

.title-section {
  text-align: center;
}

a {
  color: #367cc2;
}

table {
  color: #707070;
  background-color: transparent;
  border-collapse: collapse;
}

table td, table th {
  border: 1px solid #ddd;
  border-color: #ccc;
  border-top-style: none;
  border-bottom-style: solid;
  border-bottom-width: .0625rem;
  padding: 10px;
  background-color: transparent;
  border-left: none;
  border-right: none;
  border-bottom: none;
}

table tr {
  border-bottom: 1px solid rgb(204, 204, 204);
}

/* table tr:nth-child(even){background-color: #f2f2f2;} */

table tr:hover {background-color: #dfdfdf;}

table th {
  padding-top: 6px;
  padding-bottom: 6px;
  text-align: left;
  /* background-color: #1aaa55; */
  /* color: white; */
}